body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: center;
    background-color: #273544;
}
h1 {
    font-size: 55px;
    color: white;
    margin: 60px;
}
.searchAndSort {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3F54;
    padding: 25px;
    gap: 15px;
}
input {
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 20px;
}
input::placeholder {
    font-size: 20px;
}
select {
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0px 10px;
    font-size: 20px;
}
.movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: #F2F2F2;
    padding: 20px;
    gap: 30px;
}
.movieCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FEFEFE;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.movieCard img {
    border-radius: 10px;
    width: 280px;
}
.movieCard h2 {
    text-align: center;
    font-size: 30px;
}
.movieCard p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.pagination {
    display: flex;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #2F8CD4;
    font-size: 22px;
}
button:hover {
    cursor: pointer;
    background-color: #2473AE;
}
#pageNumber {
    font-size: 22px;
}